@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 150px;
}
.nav-items{
    padding: 0px 20px;
}
.nav-items > ul{
    display: flex;
}
.nav-items > ul > li{
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
}
.res-container{
    display: flex;
    flex-wrap: wrap;

}
.res-card{
    margin: 40px;
    width: 250px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-logo{
    width: 100%;
}
.search{
    padding: 10px;
}
.filter-btn{
    margin: 10px;
}
.filter-btn:hover{
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 10px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login{
    padding: 5px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.user-card{
    border: 1px solid black;
    padding: 5px;
} */